.pokemon-profile {
  padding: 15px;
  &__header {
    display: flex;
    flex-direction: column;
  }
  &__name {
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: capitalize;
  }
  &__image {
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #16171A;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.5);
    border-bottom: 1px solid #45484c;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__info-group {
    h3 {
      margin-bottom: 5px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .prop-name {
      margin-right: 5px;
      color: #58bccf;
    }
  }
}